.Meal {
  display: flex;
  align-items: center;
  padding: 30rem 20rem;
  border-bottom: 1px solid #f2f2f2;
  :global {
    .imgBox {
      width: 280rem;
    }
    .mealWrap {
      flex: auto;
      .title {
        font-weight: normal;
        font-size: 36rem;
        margin-bottom: 10rem;
      }
      .desc {
        color: #bbb;
        font-size: 24rem;
        padding-right: 40rem;
      }
      .priceWrap {
        display: flex;
        flex: auto;
        justify-content: space-between;
        margin-top: 40rem;
        padding-right: 40rem;
        .price {
          font-size: 36rem;
          font-weight: bloder;
        }
        .price::before {
          content: '¥';
          font-size: 24rem;
        }
      }
    }
  }
}
img {
  width: 100%;
}
