.Counter {
  display: flex;
  align-items: center;
  :global {
    .sub,
    .add {
      border: none;
      background-color: #fcbf49;
      border-radius: 50%;
      width: 36rem;
      height: 36rem;
      padding: 0;
      font-size: 20rem;
    }
    .sub {
      background-color: #fff;
      border: 1px solid #000;
    }
    .count {
      font-size: 32rem;
      margin: 0 5px;
    }
  }
}
